@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col">
        columna 1
    </div>
    <div class="col">
        columna 2
    </div>
    <div class="col">
        columna 3
    <div class="col">
         columna 4
    </div>
    <div class="col">
          columna 5
    </div>
    <div class="col">
          columna 6
    <div class="col">
        columna 7
    </div>
    <div class="col">
        columna 8
    </div>
    <div class="col">
        columna 3
    <div class="col">
         columna 9
    </div>
    <div class="col">
          columna 10
    </div>
    <div class="col">
          columna 11
    <div/>
    <div class="col">
          columna 11
                        <div />
    <div class="col-4">
        1 de 2
    </div>
</div>